section
  background url('@/shared/assets/chat_bg_pattern.png') repeat
  min-width 760px
  height calc(100% - 80px)

  .panelBody
    display grid
    grid-template-columns 29% 69%
    grid-column-gap 2%
    padding-top 20px
    width 80%
    margin 0 auto

    @media (max-width: 960px)
      width 100%
      grid-column-gap 0
      grid-template-columns 30% 70%
      padding-top 0
