@font-face {
  font-family: 'planetchat';
  src: url('../fonts/planetchat.woff?k33zed') format('woff')
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'planetchat' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-photo:before {
  content: "\e900";
}
.icon-attention:before {
  content: "\e901";
}
.icon-camera:before {
  content: "\e902";
}
.icon-chat-link:before {
  content: "\e903";
}
.icon-chat:before {
  content: "\e904";
}
.icon-compass:before {
  content: "\e905";
}
.icon-email:before {
  content: "\e906";
}
.icon-eye:before {
  content: "\e907";
}
.icon-info:before {
  content: "\e908";
}
.icon-left-arrow:before {
  content: "\e909";
}
.icon-location-sharing:before {
  content: "\e90a";
}
.icon-more:before {
  content: "\e90b";
}
.icon-new-contact:before {
  content: "\e90c";
}
.icon-new-conversation:before {
  content: "\e90d";
}
.icon-pass:before {
  content: "\e90e";
}
.icon-phone:before {
  content: "\e90f";
}
.icon-privacy-policy:before {
  content: "\e910";
}
.icon-right-arrow:before {
  content: "\e911";
}
.icon-satellite:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e913";
}
.icon-seen-checkmark:before {
  content: "\e914";
}
.icon-send-message:before {
  content: "\e915";
}
.icon-sent-checkmark:before {
  content: "\e916";
}
.icon-settings:before {
  content: "\e917";
}
.icon-share:before {
  content: "\e918";
}
.icon-signout:before {
  content: "\e919";
}
.icon-user:before {
  content: "\e91a";
}
.icon-weather-clear-day:before {
  content: "\e91b";
}
.icon-weather-clear-night:before {
  content: "\e91c";
}
.icon-weather-cloudy:before {
  content: "\e91d";
}
.icon-weather-fog:before {
  content: "\e91e";
}
.icon-weather-pt-cloudy-day:before {
  content: "\e91f";
}
.icon-weather-pt-cloudy-night:before {
  content: "\e920";
}
.icon-weather-rain-v1:before {
  content: "\e921";
}
.icon-weather-rain-v2:before {
  content: "\e922";
}
.icon-weather-sleet:before {
  content: "\e923";
}
.icon-weather-snow:before {
  content: "\e924";
}
.icon-weather-wind:before {
  content: "\e925";
}
.icon-weather:before {
  content: "\e926";
}
